section#footer.container-fluid.mt-5.py-2.py-sm-4
    .container.row.text-center.mx-auto.px-4.py-5.px-sm-2
        .col-12.col-xl-3.d-sm-none.d-xl-grid.mb-4
            img.w-50.mt-2(src='/assets/images/Primetracking_Logo--light.svg' alt='Logo')
        .col-12.col-sm-6.col-md-3.col-xl-2.mb-4
            ul
                li.footer-list-title Learn More
                li
                    a(href='https://primetracking.com/pages/testimonials' target='_blank') Testimonials
                li
                    a(href='https://primetracking.com/pages/faq' target='_blank') FAQs
        .col-12.col-sm-6.col-md-3.col-xl-2.mb-4
            ul
                li.footer-list-title Products
                li
                    a(href='https://primetracking.com/products/safetrack' target='_blank') SafeTrack
                li
                    a(href='https://primetracking.com/products/carsmart' target='_blank') CarSmart
        .col-12.col-sm-6.col-md-3.col-xl-2.mb-4
            ul
                li.footer-list-title Help
                li
                    a(href='https://primetracking.com/pages/about-us' target='_blank') About Us
                li
                    a(href='https://primetracking.com/pages/privacy-policy' target='_blank') Privacy Policy
                li
                    a(href='https://primetracking.com/pages/terms-of-service' target='_blank') Terms of Service
        .col-12.col-sm-6.col-md-3.col-xl-3.mb-4
            ul
                li.footer-list-title Contact Us
                li
                    | Call or Text:
                    br
                    a(href='tel:202-793-8131' target='_blank') 202-793-8131
                li
                    | Email:
                    br
                    a(href='mailto:support@myprimetracking.com' target='_blank') support@myprimetracking.com
