section#header.container-fluid.mb-5
        .container.row.mx-auto.p-2.p-sm-4
            #logo-wrapper.col-6.col-sm-4.col-lg-2.mx-auto.mx-sm-0
                a(href='/login')
                    img.w-100(src='/assets/images/Primetracking_Logo.svg' alt='Logo')
