.notification.row.my-5.px-lg-3.pt-2.pb-4.pt-lg-4.text-center.text-lg-left
    .col.text-white
        h1.title.font-weight-light.p-3 You have devices pending activation!
    .w-100.d-lg-none
        // divider on small screens
    .col.col-lg-4
        button#btn-activate-device.btn.btn-outline-primary.w-100.h-100.font-weight-bold(type='button' data-toggle='modal' data-target='#modal-activate-device')
            | Activate a Device
