# Logs #
########
logs/
*.log

# Build #
##########
/build/
/dist/
sessions

# System #
################
.DS_Store

# Temp #
################
/tmp

# Node Modules #
################
/lib/
/node_modules/*
!/node_modules/.gitignore
!/node_modules/node-recurly/*

# User-specific stuff:
.eslint*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

.idea
.git
.gitignore

dump.rdb
