html
    head
        title PrimeTracking | Secure & Safe GPS Tracking Technology

        link(href='/assets/css/normalize.min.css' rel='stylesheet')
        link(href='/assets/css/index.css' rel='stylesheet')

        block header-content

    body
        block content
        block footer