extends layout.pug
include mixins/subscription.pug
include mixins/device.pug

block header-content
    meta(name="_csrf" content="{{csrfToken}}")

block content
    h1 Hello, World!
    each sub in subscriptions.docs
        +renderSubscription(sub)
    each sub in devices.docs
        +renderSubscription(sub)

    a(href='/logout') Logout